/*Start Variables Media Query*/
$media-xs: (max-width: 540px);
$media-sm: (min-width: 541px);
$media-md: (min-width: 720px);
$media-lg: (min-width: 960px);
$media-xl: (min-width: 1140px);
/*End Variables Media Query*/

/*Start Variables Colors Pages*/
$mainColorText: #716e6e;
$mainGroundColor: #f66;
/*End Variables Colors Pages*/

/*Start Variables Float Diraction*/
$float-left: left;
$float-right: right;
/*End Variables Float Diraction*/

/*Start Variables Helprs*/
$text-upper: uppercase;
$text-lower: lowercase;
/*Start Variables Helprs*/
