/*Start Variables Colors Pages*/
$color-p: rgb(85, 85, 85);
$color-one: #6c3694;
$color-tow: #40bdcf;
/*End Variables Colors Pages*/

/*Start Variables Helprs*/
$text-upper: uppercase;
$text-lower: lowercase;
/*Start Variables Helprs*/

// default padding
$p-y: 100px 0;