// start Globale style
body {
    height: 10000px;
}
// end Globale style
// background button
.bg-btn {
    background: linear-gradient(left, #6c3694 0%, #40bdcf 100%);
    background: -o-linear-gradient(left, #6c3694 0%, #40bdcf 100%);
    background: -ms-linear-gradient(left, #6c3694 0%, #40bdcf 100%);
    background: -moz-linear-gradient(left, #6c3694 0%, #40bdcf 100%);
    background: -webkit-linear-gradient(left, #6c3694 0%, #40bdcf 100%);
}

