doctype html
html(lang = 'en')
  block head-all
    head
      meta(charset = 'utf-8')
      meta(http-equiv = "X-UA-Compatible", content = "iE=edge")
      meta(name = "viewport" content = "width=device-width, initial-scale=1, shrink-to-fit=no")
      meta(name = "viewport" content = "width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
      title Moppers HTML Tsemplate | Homepag
      link(rel = 'stylesheet', href = '../file.css/bootstrap.css')
      link(rel = 'stylesheet', href = '../file.css/bootstrap-editor.css')
      link(rel = 'stylesheet', href = '../file.css/all.css')
      link(rel = 'stylesheet', href = '../file.css/style.css')
      <!-- [if lt IE 9]>
       script(src = '../file.js/html5shiv.min.js')
       script(src = '../file.js/respond.min.js')
      <![endif]-->
  body
    block Content_page
      
    block script-all
      script(src = '../file.js/popper.js')
      script(src = '../file.js/jquery-3.3.1.min.js')
      script(src = '../file.js/sweetalert.min.js')
      script(src = '../file.js/bootstrap.min.js')
      script(src = '../file.js/app.js')
