doctype html
html(lang = 'en')
  block head-all
    head
      meta(charset = 'utf-8')
      meta(http-equiv = "X-UA-Compatible", content = "iE=edge")
      meta(name = "viewport" content = "width=device-width, initial-scale=1, shrink-to-fit=no")
      meta(name = "viewport" content = "width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
      title 4soft
      link(rel = 'stylesheet', href = '../file.css/bootstrap.css')
      link(rel = 'stylesheet', href = '../file.css/bootstrap-editor.css')
      link(rel = 'stylesheet', href = '../file.css/all.css')
      link(rel = 'stylesheet', href = '../file.css/style.css')
      <!-- [if lt IE 9]>
       script(src = '../file.js/html5shiv.min.js')
       script(src = '../file.js/respond.min.js')
      <![endif]-->
  body
    block Header
      // start header
      header
        // use nvabar B4
        nav(class="navbar navbar-expand-lg navbar-light")
          // container B4
          .container        
            <!-- Image and text -->
            a(class="navbar-brand" href="#")
              img(src="../image/4soft-2.png" width="30" height="30" class="d-inline-block align-top" alt="" loading="lazy")
              | 4soft
            button(class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
              span(class="navbar-toggler-icon")

            div(class="collapse navbar-collapse" id="navbarSupportedContent")
              ul(class="navbar-nav ml-auto")
                li(class="nav-item")
                  a(class="nav-link" href="#") About Us
                    span(class="sr-only") (current)
                li(class="nav-item")
                  a(class="nav-link" href="#") Product 
                li(class="nav-item")
                  a(class="nav-link" href="#") Technology  
                li(class="nav-item")
                  a(class="nav-link" href="#") FAQs  
                li(class="nav-item")
                  a(class="nav-link" href="#") Portfolio  
                li(class="nav-item dropdown")
                  a(class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"): i.fas.fa-ellipsis-h 
                  div(class="dropdown-menu" aria-labelledby="navbarDropdown")
                    a(class="dropdown-item" href="#") Action
                    a(class="dropdown-item" href="#") Another action
                    div(class="dropdown-divider")
                    a(class="dropdown-item" href="#") Something else here
                li(class="nav-item shadow-sm")
                  a(class="nav-link" href="#") Get Start
        .pre-header          
          // container B4
          .container 
            // grid system B4
            .row
              .col-12.col-12.col-md-6.d-flex.align-items-center.py-5
                .text
                  h3 WEB SOFTWARE & NATIVE APPS
                  h1 BUILT WITHOUT CODE
                  p We use latest no-code development technology to build startups and products up to 5 times faster and less costly. 
                  button.btn.bg-btn TELL ME MORE
              .col-12.col-12.col-md-6.py-5
                .content_img.shadow-sm
                  img(src="../image/web_servers.png", alt="")
      // end header
      |
      |
      // start section OUR APPROACH
      section.our
        // container B4
        .container
          // grid system B4
          .row
            .col-sm-12
              h1 OUR APPROACH
            .col-sm-12.icons
              // some class flexbox B4
              ul.p-0.list-unstyled.d-flex.justify-content-center.flex-wrap
                //- use custom attr-data
                li.icons_li(data-src="../image/view-icon.svg", data-linkView="view", id="../image/view-icon.svg", data-src2="../image/view-g.svg")
                  img(src="../image/view-g.svg", alt="view-icon")
                li.icons_li(data-src="../image/cloud-icon.svg", data-linkView="cloud", id="../image/cloud-icon.svg", data-src2="../image/cloud-g.svg")
                  img(src="../image/cloud-g.svg", alt="cloud-icon")
                li.icons_li(data-src="../image/server-icon.svg", data-linkView="server", id="../image/server-icon.svg", data-src2="../image/server-g.svg")
                  img(src="../image/server-g.svg", alt="server-icon")
                li.icons_li(data-src="../image/websit-icon.svg", data-linkView="websit", id="../image/websit-icon.svg", data-src2="../image/websit-g.svg")
                  img(src="../image/websit-g.svg", alt="websit-icon")
                li.icons_li(data-src="../image/html-icon.svg", data-linkView="html", id="../image/html-icon.svg", data-src2="../image/html-g.svg")
                  img(src="../image/html-g.svg", alt="html-icon")
            // some class flexbox B4
            .views.active.flex-wrap.justify-content-center#view
              .col-sm-12.col-md-4
                .view
                  .phone
                    img(src="../image/phone.png", alt="phone")
                    .item_view: img(src="../image/view.svg", alt="view")
              .col-sm-12.col-md-7.d-none.d-md-flex
                .text
                  h3 Real Time Progress Tracking 1
                  p When the project starts we will provide you a preview link where you can see the progress made in real time.
            .views.flex-wrap.justify-content-center#cloud
              .col-sm-12.col-md-4
                .view
                  .phone
                    img(src="../image/phone.png", alt="phone")
                    .item_view: img(src="../image/cloud.svg", alt="view")
              .col-sm-12.col-md-7.d-none.d-md-flex
                .text
                  h3 Real Time Progress Tracking 2
                  p When the project starts we will provide you a preview link where you can see the progress made in real time.
            .views.flex-wrap.justify-content-center#server
              .col-sm-12.col-md-4
                .view
                  .phone
                    img(src="../image/phone.png", alt="phone")
                    .item_view: img(src="../image/server.svg", alt="view")
              .col-sm-12.col-md-7.d-none.d-md-flex
                .text
                  h3 Real Time Progress Tracking 3
                  p When the project starts we will provide you a preview link where you can see the progress made in real time.
            .views.flex-wrap.justify-content-center#websit
              .col-sm-12.col-md-4
                .view
                  .phone
                    img(src="../image/phone.png", alt="phone")
                    .item_view: img(src="../image/websit.svg", alt="view")
              .col-sm-12.col-md-7.d-none.d-md-flex
                .text
                  h3 Real Time Progress Tracking 4
                  p When the project starts we will provide you a preview link where you can see the progress made in real time.
            .views.flex-wrap.justify-content-center#html
              .col-sm-12.col-md-4
                .view
                  .phone
                    img(src="../image/phone.png", alt="phone")
                    .item_view: img(src="../image/html.svg", alt="view")
              .col-sm-12.col-md-7.d-none.d-md-flex
                .text
                  h3 Real Time Progress Tracking 5
                  p When the project starts we will provide you a preview link where you can see the progress made in real time.                                                                        
      // end section OUR APPROACH
      |
      |
      // start section what saying
      section.w-saying
        // container B4
        .container
          // grid system B4
          .row
            .col-sm-12
              h1 WHAT OUR CLIENTS ARE SAYING
            .col-sm-12
              // use carousel B4
              div(id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel")
                .carousel-inner
                  div(class="carousel-item active")
                    .row
                      .col-sm-12.col-md-6.col-lg-4.my-5
                        .box_say
                          img(src="../image/admin.png", alt="", srcset="")
                          h6.mb-3 Christoph Ametsbichler 1
                          a(href="").mb-3 Co-founder @ Harness London, UK
                          p.mb-3 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                          span
                            //- icon fontAwesome 5
                            i.fas.fa-star
                            i.fas.fa-star
                            i.fas.fa-star
                            i.fas.fa-star
                            i.fas.fa-star
                      .col-sm-12.col-md-6.col-lg-4.my-5.d-none.d-md-block
                        .box_say
                          img(src="../image/admin.png", alt="", srcset="")
                          h6.mb-3 Christoph Ametsbichler 1
                          a(href="").mb-3 Co-founder @ Harness London, UK
                          p.mb-3 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                          span
                            //- icon fontAwesome 5
                            i.fas.fa-star
                            i.fas.fa-star
                            i.fas.fa-star
                            i.fas.fa-star
                            i.fas.fa-star
                      .col-sm-12.col-md-6.col-lg-4.d-none.d-lg-block.my-5
                        .box_say
                          img(src="../image/admin.png", alt="", srcset="")
                          h6.mb-3 Christoph Ametsbichler 1
                          a(href="").mb-3 Co-founder @ Harness London, UK
                          p.mb-3 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                          span
                            //- icon fontAwesome 5
                            i.fas.fa-star
                            i.fas.fa-star
                            i.fas.fa-star
                            i.fas.fa-star
                            i.fas.fa-star
                  div(class="carousel-item")
                    .row
                      .col-sm-12.col-md-6.col-lg-4.my-5
                        .box_say
                          img(src="../image/admin.png", alt="", srcset="")
                          h6.mb-3 Christoph Ametsbichler 2
                          a(href="").mb-3 Co-founder @ Harness London, UK
                          p.mb-3 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                          span
                            //- icon fontAwesome 5
                            i.fas.fa-star
                            i.fas.fa-star
                            i.fas.fa-star
                            i.fas.fa-star
                            i.fas.fa-star
                      .col-sm-12.col-md-6.col-lg-4.my-5.d-none.d-md-block
                        .box_say
                          img(src="../image/admin.png", alt="", srcset="")
                          h6.mb-3 Christoph Ametsbichler 2
                          a(href="").mb-3 Co-founder @ Harness London, UK
                          p.mb-3 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                          span
                            //- icon fontAwesome 5
                            i.fas.fa-star
                            i.fas.fa-star
                            i.fas.fa-star
                            i.fas.fa-star
                            i.fas.fa-star
                      .col-sm-12.col-md-6.col-lg-4.d-none.d-lg-block.my-5
                        .box_say
                          img(src="../image/admin.png", alt="", srcset="")
                          h6.mb-3 Christoph Ametsbichler 2
                          a(href="").mb-3 Co-founder @ Harness London, UK
                          p.mb-3 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                          span
                            //- icon fontAwesome 5
                            i.fas.fa-star
                            i.fas.fa-star
                            i.fas.fa-star
                            i.fas.fa-star
                            i.fas.fa-star
                  div(class="carousel-item")
                    .row
                      .col-sm-12.col-md-6.col-lg-4.my-5
                        .box_say
                          img(src="../image/admin.png", alt="", srcset="")
                          h6.mb-3 Christoph Ametsbichler 3
                          a(href="").mb-3 Co-founder @ Harness London, UK
                          p.mb-3 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                          span
                            //- icon fontAwesome 5
                            i.fas.fa-star
                            i.fas.fa-star
                            i.fas.fa-star
                            i.fas.fa-star
                            i.fas.fa-star
                      .col-sm-12.col-md-6.col-lg-4.my-5.d-none.d-md-block
                        .box_say
                          img(src="../image/admin.png", alt="", srcset="")
                          h6.mb-3 Christoph Ametsbichler 3
                          a(href="").mb-3 Co-founder @ Harness London, UK
                          p.mb-3 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                          span
                            //- icon fontAwesome 5
                            i.fas.fa-star
                            i.fas.fa-star
                            i.fas.fa-star
                            i.fas.fa-star
                            i.fas.fa-star
                      .col-sm-12.col-md-6.col-lg-4.d-none.d-lg-block.my-5
                        .box_say
                          img(src="../image/admin.png", alt="", srcset="")
                          h6.mb-3 Christoph Ametsbichler 3
                          a(href="").mb-3 Co-founder @ Harness London, UK
                          p.mb-3 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                          span
                            //- icon fontAwesome 5
                            i.fas.fa-star
                            i.fas.fa-star
                            i.fas.fa-star
                            i.fas.fa-star
                            i.fas.fa-star                                                                                 
                |
                |
                a(class="carousel-control-prev d-none d-sm-flex" href="#carouselExampleFade" role="button" data-slide="prev")
                  span: i.fas.fa-chevron-left
                  span(class="sr-only") Previous
                |
                |
                a(class="carousel-control-next d-none d-sm-flex" href="#carouselExampleFade" role="button" data-slide="next")
                  span: i.fas.fa-chevron-right
                  span(class="sr-only") Next
      // end section what saying
      |
      |
      // start section our work
      section.our-work
        // container B4
        .container
          // grid system B4
          .row
            .col-sm-12
              h1 OUR WORK
            .col-sm-12
              .box_list
                ul.p-0.list-unstyled
                  li 
                    span HARNESS
                  li
                    span WHATNOW
                  li
                    span WASIMAPP
                  li
                    span ARTQ
                  li
                    span KEPTED
                  li
                    span MY DOORS
                  li
                    span VIEW MORE
                .view
                  .box-img
                    img(src="../image/ditlist.jpg", alt="")
                  .text
                    p Harness is on a mission to create beautiful recruitment experiences for candidate, client and recruiter, offering never before seen benefits to all involved. It combines both Artificial Intelligence algorithm and the skills of experienced recruiters and allows to hire qualified talent that meets clients needs.
                    span.read READ MORE
      // end section our work
      |
      |
      // start section team
      section.team
        // container B4
        .container
          // grid system B4
          .row
            .col-sm-12
              h1 team
            .col-sm-12.col-md-2
            .col-sm-12.col-md-4.career
              h2 11#[span PROJECTS & PRODUCTS]
            .col-sm-12.col-md-4.career
              h2 12#[span DESIGN & DEVELOPMENT]              
            .col-sm-12.col-md-2
            .col-sm-12
              // use carousel B4
              div(id="carouselExampleFade_2" class="carousel slide carousel-fade" data-ride="carousel")
                .carousel-inner
                  div(class="carousel-item active")
                    .row
                      .col-sm-12.col-md-4.col-lg-3.my-5
                        .box_team
                          .box_img
                            img(src="../image/usar.jpg", alt="", srcset="")
                          .box_text
                            h6.mt-3 Cristina
                            span.mb-3 Bubble Designer and Developer
                            p Successful serial entrepreneur in the past, Levon now focuses on making web & mobile development fast & affordable. When not in the office, he most likely entertains his twins.🙂
                      .col-sm-12.col-md-4.col-lg-3.my-5.d-none.d-md-block
                        .box_team
                          .box_img
                            img(src="../image/usar.jpg", alt="", srcset="")
                          .box_text
                            h6.mt-3 Cristina
                            span.mb-3 Bubble Designer and Developer
                            p Successful serial entrepreneur in the past, Levon now focuses on making web & mobile development fast & affordable. When not in the office, he most likely entertains his twins.🙂
                      .col-sm-12.col-md-4.col-lg-3.my-5.d-none.d-md-block
                        .box_team
                          .box_img
                            img(src="../image/usar.jpg", alt="", srcset="")
                          .box_text
                            h6.mt-3 Cristina
                            span.mb-3 Bubble Designer and Developer
                            p Successful serial entrepreneur in the past, Levon now focuses on making web & mobile development fast & affordable. When not in the office, he most likely entertains his twins.🙂
                      .col-sm-12.col-md-6.col-lg-3.d-none.d-lg-block.my-5
                        .box_team
                          .box_img
                            img(src="../image/usar.jpg", alt="", srcset="")
                          .box_text
                            h6.mt-3 Cristina
                            span.mb-3 Bubble Designer and Developer
                            p Successful serial entrepreneur in the past, Levon now focuses on making web & mobile development fast & affordable. When not in the office, he most likely entertains his twins.🙂
                  div(class="carousel-item")
                    .row
                      .col-sm-12.col-md-4.col-lg-3.my-5
                        .box_team
                          .box_img
                            img(src="../image/usar_2.jpg", alt="", srcset="")
                          .box_text
                            h6.mt-3 Cristina
                            span.mb-3 Bubble Designer and Developer
                            p Successful serial entrepreneur in the past, Levon now focuses on making web & mobile development fast & affordable. When not in the office, he most likely entertains his twins.🙂
                      .col-sm-12.col-md-4.col-lg-3.my-5.d-none.d-md-block
                        .box_team
                          .box_img
                            img(src="../image/usar_2.jpg", alt="", srcset="")
                          .box_text
                            h6.mt-3 Cristina
                            span.mb-3 Bubble Designer and Developer
                            p Successful serial entrepreneur in the past, Levon now focuses on making web & mobile development fast & affordable. When not in the office, he most likely entertains his twins.🙂
                      .col-sm-12.col-md-4.col-lg-3.my-5.d-none.d-md-block
                        .box_team
                          .box_img
                            img(src="../image/usar_2.jpg", alt="", srcset="")
                          .box_text
                            h6.mt-3 Cristina
                            span.mb-3 Bubble Designer and Developer
                            p Successful serial entrepreneur in the past, Levon now focuses on making web & mobile development fast & affordable. When not in the office, he most likely entertains his twins.🙂
                      .col-sm-12.col-md-6.col-lg-3.d-none.d-lg-block.my-5
                        .box_team
                          .box_img
                            img(src="../image/usar.jpg", alt="", srcset="")
                          .box_text
                            h6.mt-3 Cristina
                            span.mb-3 Bubble Designer and Developer
                            p Successful serial entrepreneur in the past, Levon now focuses on making web & mobile development fast & affordable. When not in the office, he most likely entertains his twins.🙂
                  div(class="carousel-item")
                    .row
                      .col-sm-12.col-md-4.col-lg-3.my-5
                        .box_team
                          .box_img
                            img(src="../image/usar.jpg", alt="", srcset="")
                          .box_text
                            h6.mt-3 Cristina
                            span.mb-3 Bubble Designer and Developer
                            p Successful serial entrepreneur in the past, Levon now focuses on making web & mobile development fast & affordable. When not in the office, he most likely entertains his twins.🙂
                      .col-sm-12.col-md-4.col-lg-3.my-5.d-none.d-md-block
                        .box_team
                          .box_img
                            img(src="../image/usar.jpg", alt="", srcset="")
                          .box_text
                            h6.mt-3 Cristina
                            span.mb-3 Bubble Designer and Developer
                            p Successful serial entrepreneur in the past, Levon now focuses on making web & mobile development fast & affordable. When not in the office, he most likely entertains his twins.🙂
                      .col-sm-12.col-md-4.col-lg-3.my-5.d-none.d-md-block
                        .box_team
                          .box_img
                            img(src="../image/usar.jpg", alt="", srcset="")
                          .box_text
                            h6.mt-3 Cristina
                            span.mb-3 Bubble Designer and Developer
                            p Successful serial entrepreneur in the past, Levon now focuses on making web & mobile development fast & affordable. When not in the office, he most likely entertains his twins.🙂
                      .col-sm-12.col-md-6.col-lg-3.d-none.d-lg-block.my-5
                        .box_team
                          .box_img
                            img(src="../image/usar.jpg", alt="", srcset="")
                          .box_text
                            h6.mt-3 Cristina
                            span.mb-3 Bubble Designer and Developer
                            p Successful serial entrepreneur in the past, Levon now focuses on making web & mobile development fast & affordable. When not in the office, he most likely entertains his twins.🙂                                                        
                |
                |
                a(class="carousel-control-prev d-none d-sm-flex" href="#carouselExampleFade_2" role="button" data-slide="prev")
                  span: i.fas.fa-chevron-left
                  span(class="sr-only") Previous
                |
                |
                a(class="carousel-control-next d-none d-sm-flex" href="#carouselExampleFade_2" role="button" data-slide="next")
                  span: i.fas.fa-chevron-right
                  span(class="sr-only") Next
            .col-sm-12.col-md-12.col-lg-4.d-flex.justify-content-center.align-items-center.bg-white.py-4
              .featured.my-lg-5
                h2 Featured on
            .col-sm-12.col-md-12.col-lg-4.bg-white.py-4
              .tc.d-flex.d-flex.justify-content-center.align-items-center.d-lg-block.my-lg-5
                span: img(src="../image/tc.svg", alt="alt")
                h6 Techcrunch
            .col-sm-12.col-md-12.col-lg-4.bg-white.py-4
              .p.d-flex.d-flex.justify-content-center.align-items-center.d-lg-block.my-lg-5
                span: img(src="../image/p.svg", alt="alt")
                h6 Product Hunt 
      // end section  team
      |
      |
      // start section type project
      section.type_project
        // conatiner B4
        .container
          // use grid system B4
          .row.position-relative
            .col-sm-12
              h1 WHAT TYPE OF PROJECT WORKS BEST FOR YOU?
            .col-sm-12.col-md-6.my-5.position-relative
              .box_project.active
                h4.my-4 AGILE PROJECT
                a(href="").mb-4 For complex projects with full customization and unique design
                .box_list_0
                  ul
                    li Flexible development process
                    li Fixed price billing
                    li Delivered in 3-5 weeks
                    li Dedicated Project Manager
                    li Pay by milestone
                  button.btn.bg-btn choose me
            .col-sm-12.col-md-6.my-5.position-relative
              .box_express
                h4.my-3 10-DAY EXPRESS
                a(href="").mb-3 Fastest time to market for only
                span $7500
                .box_list_1
                  ul
                    li Minimum Viable Product. 
                    li 10 day development cycle.
                    li Dedicated Project Manager.
                    li Streamlined Process
                    li fixed rate. 
                  button.btn.bg-btn
                .box_list_2
                  ul
                    li Minimum Viable Product. 
                    li 10 day development cycle.
                    li Low flat rate. 
                    li Dedicated Project Manager.
                    li Streamlined Process
                  button.btn.bg-btn
            .col-sm-12.col-md-6.mx-auto.shadow.contact
              .box_contact
                h4 LET'S BUILD SOMETHING AWESOME
                .box_plan
                  .m_box_project.active
                    h6
                      i.fas.fa-check
                      | AGILE PROJECT
                    span Full flexibility for complex projects with per hour billing
                  .m_box_express
                    h6
                      i.fas.fa-check
                      | 10 DAY EXPRESS
                    span Fastest time to market for only #[a(href="") $7500]
                form
                  // use form group B4
                  .form-row
                    div(class="form-group col-md-6 mt-3")
                      input(type="text" class="form-control" placeholder="First Name")
                    div(class="form-group col-md-6 mt-3")
                      input(type="text" class="form-control" placeholder="Last Name")
                    div(class="form-group col-md-12")
                      input(type="email" class="form-control" placeholder="What's your email?")
                    div(class="form-group col-md-12")
                      textarea(class="form-control" name="", cols="30", rows="10" placeholder="Please provide some details").w-100
                    div(class="form-group col-md-12 m-0")
                      div(class="input-group mb-3")
                        .input-group-prepend
                          .custom-file
                           input(type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01")
                          label(class="custom-file-label" for="inputGroupFile01") Choose file
                  .form-group.px-4.text-center
                    .form-check
                      input(class="form-check-input" type="checkbox")
                      label(class="form-check-label" for="gridCheck"): span#gridCheck Sign up to receive occasional tips about building apps without code
                  div(class="form-group col-sm-4 d-block mx-auto")
                    input(type="submit" class="form-control bg-btn text-white text-uppercase" placeholder="What's your email?")
      // end section type project
      |
      |
      // start section footer
      footer
        section.subscribe
          // container B4
          .container
            // use grid system B4
            .row.text-center.text-white
              .col-sm-12.mt-5
                h4.font-weight-bolder Subscribe to our newsletter.
              .col-sm-12.mb-3
                span.font-weight-light We'll send you occasional but very useful tips about building products and startup without a single line of code
              .col-sm-12.col-md-2
              .col-sm-12.col-md-5.email.text-center.text-md-right.my-2
                form
                  input(type="email", name="" placeholder="What's your email?")
              .col-sm-12.col-md-4.sub.text-center.text-md-left.my-2
                form
                  input(type="button", value="subscribe")
              .col-sm-12.col-md-1
        .pre-footer
          .container
            .row
              .col-sm-12.col-md-6.my-2.offices.text-md-left.text-center
                ul.list-unstyled.p-0.d-flex.justify-content-center.justify-content-md-start
                  li: i.fas.fa-globe-africa
                  li Our Offices:
                  li USA 
                  li UK
                span 2035 Sunset Lake RoadSuite B-2, Newark, DE 19702
              .col-sm-12.col-md-6.my-2.media.justify-content-md-end.justify-content-center
                ul.list-unstyled.p-0.d-flex
                  // use font awesome 5
                  li: i.fab.fa-facebook
                  li: i.fab.fa-linkedin
                  li: i.fab.fa-twitter-square
      // end scetion footer
    // overl-lay in all page
    .over-lay
    block script-all
      script(src = '../file.js/popper.js')
      script(src = '../file.js/jquery-3.3.1.min.js')
      script(src = '../file.js/sweetalert.min.js')
      script(src = '../file.js/bootstrap.min.js')
      script(src = '../file.js/app.js')
